* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    min-height: 75px;
    background: #222222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.promo {
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo__img {
    width: 50%;
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 50%;
}

.promo__content {
    padding-left: 64px;
}

.promo__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__heading_red {
    color: #F16D7F;
}

.sale {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__item {
    position: relative;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sale__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F16D7F;
}

.product__heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.product__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.product__goods {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product__position {
    position: relative;
}

.product__position .product__img {
    z-index: 1;
}

.product__position .product__img_content {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.product__position:hover .product__img_content {
    display: flex;
    z-index: 1;
}

.product_add {
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 10px 12px;
}

.product_add_text {
    margin-left: 8px;
}

.product__description {
    padding-left: 16px;
    padding-top: 24px;
    padding-right: 28px;
    padding-bottom: 20px;
}

.product__item_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.product__item_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 16px;
}

.product__item_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product__button_block {
    text-align: center;
}

.product__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 96px;
}

.product__button:hover {
    color: #FFFFFF;
    background: #F16D7F;
}